.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    padding: 7px;
    border: none;
    background-color: #53c28b;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}